.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pie-charts {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .pie-chart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .pie-charts canvas {
    width: 360px !important;
    height: 360px !important;
  }
  .bar-chart {
    margin-top: 20px;
    width: 80%;
  }
  .bar-chart canvas {
    width: 100% !important;
    height: 400px !important;
  }
  .year-selector {
    margin-bottom: 20px;
  }
  
  /* Custom modern style for the dropdown */
  .modern-dropdown {
    appearance: none; 
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #f4f6f9; 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #333;
    width: 100%;
    max-width: 200px; /* Optional max width */
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }

  .modern-dropdown:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
  }

  .modern-dropdown option {
    padding: 10px;
    background-color: #ffffff;
  }

  .modern-dropdown::after {
    content: "▼";
    font-size: 12px;
    color: #333;
    position: absolute;
    right: 10px;
    top: 50%;

  }
  .year-selector label {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .uploaded-files img {
    max-width: 100%;
    height: auto;
    margin: 5px;
  }
  .main-footer {
    clear: both;
  }
  .main-sidebar {
    overflow-y: auto;
  }

  /* notifications.css */
  .notification-menu {
    max-height: 400px;      
    overflow-y: auto;
  }

  .notification-link {
    display: block;
    white-space: nowrap;        
    overflow: hidden;
    text-overflow: ellipsis;    
    padding: 10px;             
  }

  .notification-message {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;           
  }

  .notification-link:hover .notification-message {
    white-space: normal;        
    overflow: visible;
  }
  .badge-warning {
    background-color: #ffc107; /* Yellow */
    color: #fff;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 12px;
    margin-left: 5px;
    vertical-align: middle;
  }
